<%- include('layout/header', {title})%>

  <div id="messages">
    <% messages.forEach(msg=> {%>

      <div class="message" data-set-id=<%=msg.id%> >
        <span class="user">
          <%=msg.username%>
        </span>
        <div class="text">
          <%=msg.text%>
        </div>
        <div class="time">
          <%=msg.added%>
        </div>

        <form action="/<%=msg.id%>/delete" method="POST"> <button type="submit"
            class="delete-btn">Delete</button></form>
      </div>
      <%});%>
  </div>
  <button><a href="/new"> Add a message</a></button>


  <%- include('layout/footer', {})%>