<%- include('layout/header', {title})%>

  <div id="messages">
    <% messages.forEach(msg=> {%>

      <div class="message">
        <span class="user">
          <%=msg.user%>
        </span>
        <div class="text">
          <%=msg.text%>
        </div>
        <div class="time">
          <%=msg.added%>
        </div>
      </div>

      <%});%>
  </div>
  <button ><a href="/new"> Add a message</a></button>


  <%- include('layout/footer', {})%>